/*******************************************************************************
 * Themes
 ******************************************************************************/
 
:root {
  --global-bg-color: #{$white-color};
  --global-code-bg-color: #{$code-bg-color-light};
  --global-text-color: #{$black-color};
  --global-text-color-light: #{$grey-color};
  --global-theme-color: #{$blue-color};
  --global-hover-color: #{$light-blue-color};
  --global-footer-bg-color: #{$grey-color-dark};
  --global-footer-text-color: #{$grey-color-light};
  --global-footer-link-color: #{$white-color};
  --global-distill-app-color: #{$grey-color};
  --global-divider-color: rgba(0,0,0,.25);
  --global-card-bg-color: #{$white-color};
  --global-navbar-color: #{$grey-color-dark};
  --global-navbar-text-color: #{$grey-color-light};
  --global-navbar-active-text-color: #{$contrast-blue-color};
  --global-navbar-hover-color: #{$light-contrast-blue-color};
  

  .fa-sun {
    display : none;
  }
  .fa-moon {
    padding-left: 10px;
    padding-top: 12px;
    display : block;
  }

  .repo-img-light {
    display: block;
  }
  .repo-img-dark {
    display: none;
  }
}

html[data-theme='dark'] {
  --global-bg-color: #{$my-grey-color-dark};
  --global-code-bg-color: #{$code-bg-color-dark};
  --global-text-color: #{$my-grey-color-light};
  --global-text-color-light: #{$my-grey-color-light};
  --global-theme-color: #{$my-teal-color};
  --global-hover-color: #{$my-teal-color-light};
  --global-footer-bg-color: #{$my-grey-color-dark};
  --global-footer-text-color: #{$my-grey-color-light};
  --global-footer-link-color: #{$my-grey-color-light};
  --global-distill-app-color: #{$my-grey-color-light};
  --global-divider-color: #434343;
  --global-card-bg-color: #{$grey-900};
  --global-navbar-color: #{$my-grey-color-dark};
  --global-navbar-text-color: #{$my-grey-color-light};
  --global-navbar-hover-color: #{$my-teal-color-light};
  --global-navbar-active-text-color: #{$my-teal-color};

  .fa-sun {
    padding-left: 10px;
    padding-top: 12px;
    display : block;
  }
  .fa-moon {
    display : none;
  }

  .repo-img-light {
    display: none;
  }
  .repo-img-dark {
    display: block;
  }
}
