<!--{% capture number_preprint %}{% bibliography_count -f publications_preprint %}{% endcapture %}
{% capture number_book %}{% bibliography_count -f publications_miscellaneous -q @book %}{% endcapture %}
{% capture number_thesis %}{% bibliography_count -f publications_theses %}{% endcapture %}-->
{% capture number_journal %}{% bibliography_count -f papers  %}{% endcapture %}


<ul class="card-text font-weight-light list-group list-group-flush">
      <li class="list-group-item">
      <h5 class="font-italic">I have authored</h5>
        <ul class="subitems">
            <li><span class="subitem">
              {{number_journal}} Peer-reviewed Journal Articles
            </span></li>
        </ul>
      </li>
      <li class="list-group-item">
        <h5 class="font-italic">See the full list</h5>
          <ul class="subitems">
              <li><span class="subitem">
                Online &nbsp; <a href = "{{site.url}}/publications/"><i class="fas fa-external-link-alt"></i></a>
              </span></li>
              <li><span class="subitem">
                Download &nbsp; <a href = "{{site.url}}/assets/pdf/Silvio_Fanzon_CV.pdf"><i class="fas fa-file-pdf"></i></a>
              </span></li>
          </ul>
      </li>
</ul>
