
{% capture number_talks %}{% bibliography_count -f seminars_talks %}{% endcapture %}
{% capture number_talks_invited %}{% bibliography_count -f seminars_talks -q @*[invited =true] %}{% endcapture %}
{% capture number_posters %}{% bibliography_count -f seminars_posters %}{% endcapture %}
{% capture number_posters_invited %}{% bibliography_count -f seminars_posters -q @*[invited =true] %}{% endcapture %}

{% assign total_presentations = number_talks | plus: number_posters %}


<ul class="card-text font-weight-light list-group list-group-flush">
      <li class="list-group-item">
      <h5 class="font-italic">I have given {{total_presentations}} presentations, including</h5>
        <ul class="subitems">
            <li><span class="subitem">
              {{number_talks}} oral presentations ({{number_talks_invited}} invited)
            </span></li>
            <li><span class="subitem">
              {{number_posters}} poster presentations ({{number_posters_invited}} invited)
            </span></li>
        </ul>
      </li>
      <li class="list-group-item">
        <h5 class="font-italic">See the full list</h5>
          <ul class="subitems">
              <li><span class="subitem">
                Online &nbsp; <a href = "https://www.silviofanzon.com/talks/"><i class="fas fa-external-link-alt"></i></a>
              </span></li>
              <li><span class="subitem">
                Download &nbsp; <a href = "https://www.silviofanzon.com/assets/pdf/Silvio_Fanzon_CV.pdf"><i class="fas fa-file-pdf"></i></a>
              </span></li>
          </ul>
      </li>
</ul>