{% capture number_swat %}{% bibliography_count -f teaching_vap %}{% endcapture %}
{% capture number_vt %}{% bibliography_count -f teaching_vt %}{% endcapture %}

{% assign total_teaching = number_swat | plus: number_vt %}


<ul class="card-text font-weight-light list-group list-group-flush">
      <li class="list-group-item">
      <h5 class="font-italic">I have taught {{total_teaching}} courses, including</h5>
        <ul class="subitems">
            <li><span class="subitem">
              {{number_swat}} Courses at Swarthmore College
            </span></li>
            <li><span class="subitem">
              {{number_vt}} Course at Virginia Tech
            </span></li>
        </ul>
      </li>
      <li class="list-group-item">
        <h5 class="font-italic">See the full list</h5>
          <ul class="subitems">
              <li><span class="subitem">
                Online &nbsp; <a href = "{{site.url}}/teaching"><i class="fas fa-external-link-alt"></i></a>
              </span></li>
              <li><span class="subitem">
                Download &nbsp; <a href = "{{site.url}}/assets/pdf/CV_EmadMasroor.pdf"><i class="fas fa-file-pdf"></i></a>
              </span></li>
          </ul>
      </li>
</ul>
