---
---

<!-- The bibliography layout is selected among Teaching, Talk, Supervision, Publication 
The bib entry Teaching=true triggers teaching style
The bib entry Talk=true triggers talk style
The bib entry Supervision=true triggers supervision style
Otherwise default is publication style
-->

{%- if entry.teaching -%}

      {% include bib_teaching.html %}

{%- elsif entry.talk -%}

      {% include bib_talk.html %}

{%- elsif entry.supervision -%}

      {% include bib_supervision.html %}

{%- else -%}
     
      {% include bib_publication.html %}

{%- endif -%}
